# Node dependencies
**/node_modules/
**/dist/
**/.angular/

# Environment variables
**/.env
**/.env.*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.bak
*.tmp

# Angular/Frontend specific
/frontend/src/assets/data/lots.json
/frontend/.next/
/frontend/out/

# Backend specific
/backend/uploads/
