<div class="novedades__section">
  <h3 class="novedades__subtitle"><span class="line"></span> Avance del proyecto</h3>
  
  <div class="timeline">
    <div class="timeline__line"></div>
    
    @for (item of timeline; track item.title; let i = $index) {
      <div class="timeline__item" [ngClass]="item.align">
        <div class="timeline__dot"></div>
        <div class="timeline__content">
          <span class="timeline__date kicker">{{ item.date }}</span>
          <h4 class="timeline__title">{{ item.title }}</h4>
          <p class="timeline__desc">{{ item.description }}</p>
        </div>
      </div>
    }
  </div>
</div>
